<h2> Update The Cocktails </h2>

<form action="/cocktails-edits/{{drinksThatWillBeEdited._id}}" method="POST">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" name="title" id="form6Example1" class="form-control" placeholder="Title" value="{{drinksThatWillBeEdited.title}}"/>
        <label class="form-label" for="form6Example1"> </label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text"name="glass" id="form6Example2" class="form-control " placeholder="Glass"  value="{{drinksThatWillBeEdited.glass}}"/>
        <label class="form-label" for="form6Example2"></label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text"name="measure" id="form6Example3" class="form-control"placeholder="Measure"  value="{{drinksThatWillBeEdited.measure}}"/>
    <label class="form-label" for="form6Example3"> </label>
  </div>

  
  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" name="instructions" id="form6Example7" rows="4" placeholder="Instructions" >{{drinksThatWillBeEdited.instructions}}</textarea>
    <label class="form-label" for="form6Example7"></label>
  </div>

  
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>




   








